set morespace
set nowrap
set softwrap
include /usr/share/nano-syntax-highlighting/cmake.nanorc
include /usr/share/nano-syntax-highlighting/c.nanorc
include /usr/share/nano-syntax-highlighting/conf.nanorc
include /usr/share/nano-syntax-highlighting/css.nanorc
include /usr/share/nano-syntax-highlighting/dot.nanorc
include /usr/share/nano-syntax-highlighting/gitcommit.nanorc
include /usr/share/nano-syntax-highlighting/git.nanorc
include /usr/share/nano-syntax-highlighting/html.nanorc
include /usr/share/nano-syntax-highlighting/ini.nanorc
include /usr/share/nano-syntax-highlighting/java.nanorc
include /usr/share/nano-syntax-highlighting/javascript.nanorc
include /usr/share/nano-syntax-highlighting/js.nanorc
include /usr/share/nano-syntax-highlighting/json.nanorc
include /usr/share/nano-syntax-highlighting/lua.nanorc
include /usr/share/nano-syntax-highlighting/makefile.nanorc
include /usr/share/nano-syntax-highlighting/markdown.nanorc
include /usr/share/nano-syntax-highlighting/nanorc.nanorc
include /usr/share/nano-syntax-highlighting/patch.nanorc
include /usr/share/nano-syntax-highlighting/php.nanorc
include /usr/share/nano-syntax-highlighting/pkgbuild.nanorc
include /usr/share/nano-syntax-highlighting/pkg-config.nanorc
include /usr/share/nano-syntax-highlighting/python.nanorc
include /usr/share/nano-syntax-highlighting/sh.nanorc
include /usr/share/nano-syntax-highlighting/systemd.nanorc
include /usr/share/nano-syntax-highlighting/xml.nanorc
include /usr/share/nano-syntax-highlighting/xresources.nanorc