#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/gksu /usr/bin/tlp ac
Icon=cs-power
StartupNotify=false
Terminal=false
Categories=Utility;
Name=TLP (AC)
Comment=Changes Power Management mode to AC